.text-center {
    text-align: center;
}

.bctai_generator_button .spinner {
    display: none;
}

.button.bctai_generator_stop {
    display: none;
}
.widget_input_radios{
    margin :auto 0px;
}

.bctai-alert {
    border: 1px solid #f1f1f1;
    padding: 30px;
    border-radius: 13px;
    background: #f1f1f1;
    width: 1548px;
    height: 204px;
    
}

.bctai-alert h4 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #f00;
}

.bctai-alert code {
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 4px;
}

.bctai-alert p {
    margin: 2px 0;
}

.bctai-alert-form {
    margin-bottom: 10px;
}

.bctai-alert-form p {
    color: #f00;
    font-size: 16px;
    font-weight: bold;
}

.bctai-text-right {
    text-align: right;
}

.bctai-text-center {
    text-align: center;
}

.bctai-label {
    display: inline-block;
    width: 20px;
    font-weight: bold;
}

.bctai-bulk-title {
    display: inline-block;
    width: 27em;
}

.bctai-bulk-item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.bctai-bulk-item span {
    display: inline-block;
    margin-left: 10px;
}

.bctai-bulk-button {
    display: block;
    width: 100%;
}

.bctai-bulk-track-title {
    padding: 6px 12px;
}

.p-10 {
    padding: 10px;
}

.bctai-bulk-track-publish {
    color: #10922c !important;
}

.bctai-bulk-track-cancel,
.bctai-bulk-track-inherit {
    color: #bb0505 !important;
}

.bctai-bulk-track-trash {
    color: #bb0505 !important;
}

.button.bctai-bulk-button-cancel {
    background: #bd0000;
    color: #fff;
    border-color: #b30000;
}

.bctai-paginate {
    margin-top: 10px;
}

.bctai-paginate a,
.bctai-paginate span {
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    background: #dfdfdf;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.bctai-paginate span {
    background: #fff;
}

.ml-5 {
    margin-left: 5px;
}

.bctai-playground-buttons {
    display: none;
}

.d-flex {
    display: flex;
}

.bctai-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;
}

.bctai-grid-1 {
    grid-column: span 1/span 1;
}

.bctai-grid-2 {
    grid-column: span 2/span 1;
}

.bctai-grid-3 {
    grid-column: span 3/span 1;
}

.bctai-grid-4 {
    grid-column: span 4/span 1;
}

.bctai-grid-5 {
    grid-column: span 5/span 1;
}

.bctai-grid-6 {
    grid-column: span 6/span 1;
}

.mb-5 {
    display: flex;
    line-height: 50px;
    margin-bottom:15px;

}

.bctai-form-label {
    display: block;
    margin-bottom: 3px;
    width: 245px;
    line-height: 25px;
}

.bctai-input[name=_wporg_preview_title],
.bctai-input[name=_wporg_language],
#wpai_writing_style,
#wpai_target_url_cta,
#wpai_target_url,
#wpai_anchor_text,
#wpai_writing_tone {
    display: block;
    width: 100%;
}

.bctai-input[type=number] {
    width: 80px;
}

.bctai-help-text {
    margin: 0;
    font-size: 14px;
    margin-top: 2px;
    color: #707070;
}

.bctai-checkbox {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.bctai-checkbox input[type=checkbox] {
    height: 0;
    width: 0;
    display: none;
}

.bctai-checkbox label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    margin-right: 10px;
}

.bctai-checkbox label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 22.5px;
    height: 22.5px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.bctai-checkbox input:checked+label {
    background: #0a76cd;
}

.bctai-checkbox input:checked+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.bctai-checkbox label:active:after {
    width: 30px;
}

div.bctai_lds-ellipsis {
    width: 300px !important;
    min-height: 100px !important;
    padding: 0 !important;
    background-color: #1a1a1a;
    border-radius: 4px;
    position: fixed !important;
    left: calc(50% - 15px) !important;
    top: 50% !important;
}

.bctai-generating-title {
    left: 0 !important;
    animation: unset !important;
    display: block !important;
    min-height: 20px;
    background: #2271B1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 9px 12px;
    text-align: left;
    color: #fff;
}

.bctai-generating-process {
    display: block !important;
    left: 0 !important;
    animation: unset !important;
}

.bctai-generating-process div {
    display: flex !important;
    left: 0 !important;
    animation: unset !important;
    color: #fff;
    justify-content: space-between;
    padding: 6px 12px;
    border-bottom: 1px solid #303030;
    align-items: center;
}

.bctai-generating-process div p {
    margin: 0;
}

.bctai-generating-process-finished p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #10922c;
    width: 100%;
}

.bctai-generating-process div span {
    font-size: 13px;
}

.bctai-generating-process div.finished span {
    color: #10922c;
    font-weight: bold;
}

.bctai-generating-process div.bctai-error span {
    color: #bb0505;
}

.bctai-error-msg {
    word-break: break-all;
    font-size: 13px;
    color: #f00 !important;
}

.bctai-timer {
    display: block !important;
    left: 0 !important;
    animation: unset !important;
    margin: 10px 0px;
}

.bctai-tabs {
    position: relative;
    margin-top: 15px;
}

.bctai-tabs ul {
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
    top: 1px;
    position: relative;
}

.bctai-tabs ul li {
    margin: 0;
    padding: 10px 15px;
    border: 1px solid #ccc;
    margin-right: 5px;
    background: #dbdbdb;
    border-bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.bctai-tabs ul li.bctai-active {
    background: #fff;
}

.bctai-tabs ul li.bctai-has-seo {}

.bctai-tabs ul li.bctai-has-seo:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #35af17;
    margin-right: 7px;
    border-radius: 50%;
}

.bctai-tabs .bctai-tab-content {
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
}


.bctai-form-row label {
    width: 210px;
    display: inline-block;
}

.bctai_progress {
    height: 15px;
    width: calc(100% - 25px);
    background: #727272;
    border-radius: 5px;
    color: #fff;
    padding: 2px 12px;
    position: relative;
    font-size: 12px;
    text-align: center;
}



.bctai_progress span {
    display: block;
    position: absolute;
    height: 100%;
    border-radius: 5px;
    background: #2271b1;
    top: 0;
    left: 0;
    transition: width .6s ease;
}

.bctai_progress small {
    position: relative;
    font-size: 12px;
}

.bctai_modal {
    width: 900px;
    min-height: 100px;
    position: absolute;
    top: 30%;
    background: #fff;
    left: calc(50% - 450px);
    border-radius: 5px;
}

.bctai_modal_head {
    min-height: 30px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    margin: 0px 10px;
}

.bctai_modal_content pre {
    max-height: 400px;
    overflow-y: auto;
    word-break: break-all;
    white-space: pre-line;
}

.bctai-modal-content {
    max-height: 400px;
    overflow-y: auto;
}

.bctai_modal_content {
    padding: 10px;
}

.bctai_modal_title {
    font-size: 18px;
}

.bctai_modal_title small {
    font-size: 13px;
}

.bctai_modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.bctai-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(0 0 0 / 20%);
    top: 0;
    direction: ltr;
}

.bctai-spinner {
    float: none;
    background-size: 15px;
    width: 15px;
    height: 20px;
}

.bctai-finetune-cancelled,
.bctai-finetune-failed,
.bctai-finetune-deleted {
    color: #fb0000 !important;
}

.bctai-small-modal {
    width: 300px;
    left: calc(50% - 150px);
}

.bctai-finetune-pending {}

.bctai-finetune-succeeded {
    color: #10922c !important;
}

.bctai_grid_form {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 20px;

}

.bctai_grid_form #wpai_preview_title {
    font-size: 20px;
    padding: 1px 12px;
}

.bctai_grid_form_1 {
    grid-column: span 1/span 1;
}

.bctai_grid_form_2 {
    grid-column: span 2/span 1;
}

.bctai-collapse {}

.bctai-collapse:last-of-type {
    border-bottom: 1px solid #ccc;
}

.bctai-collapse-title span {
    display: inline-block;
    margin-right: 5px;
}

.bctai-collapse-title {
    padding: 10px;
    background: #4f4d5f;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
}

.bctai-collapse-active .bctai-collapse-title {}

.bctai-collapse-content {
    /* display: none; */
    background: #f1f1f1;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.bctai-collapse-active .bctai-collapse-content {
    display: block;
}

.bctai-collapse-content .bctai-form-label {
    display: inline-block;
    width: 50%;
}

.bctai-collapse-content select,
.bctai-collapse-content input[type=text],
.bctai-collapse-content input[type=url] {
    display: inline-block !important;
    width: 48% !important;
}

.bctai-d-flex {
    /* display: flex; */
}

.bctai-grid-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;

}

.bctai-w-100 {
    width: 100%;
}

.bctai-d-block {
    display: block;
}

.bctai-align-items-center {
    align-items: center;
}

.bctai-align-content-center {
    align-content: center;
}

.bctai-align-content-between {
    align-content: space-between;
}

.bctai-m-0 {
    margin: 0 !important;
}

.bctai-mb-10 {
    margin-bottom: 10px !important;
    /* display: flex; */
}

.bctai-regenerate-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bctai-regenerate-title .bctai_regenerate_save {
    width: 100px;
}

.bctai-regenerate-title input {
    width: 100%;
    margin-right: 5px;
}

@media(max-width: 900px) {
    .bctai-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .bctai-grid-three {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .bctai-grid-1 {}

    .bctai-grid-5 {
        grid-column: span 2/span 1;
    }

    .bctai-grid-6 {
        grid-column: span 3/span 1;
    }

    .bctai-grid .mb-5 {
        margin-bottom: 10px;
    }
}

@media(max-width: 480px) {
    .bctai-grid-three {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .bctai-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .bctai-grid-1 {}

    .bctai-grid-2 {
        grid-column: span 1/span 1;
    }

    .bctai-grid-5 {
        grid-column: span 1/span 1;
    }

    .bctai-grid-6 {
        grid-column: span 1/span 1;
    }
}

.bctai_editor_icon button {
    background-image: url("../../public/images/logo.png");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.bctai-editor-loading {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: bctai-editor-spin 1s ease-in-out infinite;
    -webkit-animation: bctai-editor-spin 1s ease-in-out infinite;
}

@keyframes bctai-editor-spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes bctai-editor-spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.bctai_editor_working {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(0 0 0 / 20%);
    top: 0;
    direction: ltr;
    display: none;
    justify-content: center;
    align-items: center;
}

#poststuff{
    padding: 0px;
    margin: 0px;
}