@charset "utf-8";

@import url(font.css);

.section input[type=checkbox]{
    border:unset;
    border-radius:unset;
    background:unset;
    color:unset;
    clear:unset;
    cursor:unset;
    display: unset;
    line-height: unset;
    
    margin: unset;
    outline:unset;
    padding: unset;
    text-align: unset;
    vertical-align: unset;
    
    min-width: unset;
    -webkit-appearance: unset;
    box-shadow: unset;
}
.section input[type=checkbox]:checked::before{
    content:unset;
    margin:unset;
    height:unset;
    width:unset;

}
.section .updates-table tbody td.check-column, .widefat tbody th.check-column, .widefat tfoot td.check-column, .widefat thead td.check-column{
    padding: 9px 0 22px;
}


#bctai_data_converter input[type=checkbox]{
    border:unset;
    border-radius:unset;
    background:unset;
    color:unset;
    clear:unset;
    cursor:unset;
    display: unset;
    line-height: unset;
    margin: unset;
    outline:unset;
    padding: unset;
    text-align: unset;
    vertical-align: unset;
    min-width: unset;
    -webkit-appearance: unset;
    box-shadow: unset;
}
#bctai_data_converter input[type=checkbox]:checked::before{
    content:unset;
    margin:unset;
    height:unset;
    width:unset;
}

#fs_account input[type=radio]:checked::before{
    content: "";
    border-radius: 50%;
    background: #8040AD;
}

ol,ul{
    list-style: none; padding:0px;
}
*{box-sizing:border-box;}
.bctai_container{font-family:"Noto Sans KR",sans-serif,"dotum";}

/* a{text-decoration:none;}
button:hover, a:hover {opacity:0.92;}
em, i, address{font-style:normal;}
b{font-weight:400;color:inherit;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:400;color:#000;}
ul, ol{list-style:none;}
img{max-width:100%;border:0;vertical-align:top;}
img[alt="Email"]{height:19px;margin-left:2px;vertical-align:middle;}
@media all and (max-width:800px){
    img[alt="Email"]{height:18px;}
}
iframe{width:100%;border:none;}
*/
.tablenav button,input[type="button"] {border:0;border-radius:0px;-webkit-appearance:none;box-shadow:none;background-color:transparent;cursor:pointer;}
/*

::before,
::after {box-sizing:border-box;}

input, select, textarea{font-size:1em;color:#352F39;vertical-align:middle;box-sizing:border-box;}
*/
.bctai_container input[type="text"], .bctai_container input[type="password"], 
.bctai_container input[type="search"], .bctai_container input[type="number"], 
.bctai_container input[type="reset"], .bctai_container input[type="email"], .bctai_container input[type="tel"], .bctai_container input[type="submit"],
.bctai_container select, textarea, .fileArea, .searchArea, .menuItem {display:flex;align-items:center;width:100%;height:52px;padding:0 17px;border:none;border-radius:16px;background-color:#F1F1F1;-webkit-appearance:none;-moz-appearance:none;appearance:none;max-width: 100%;}
/*
input, select,.fileArea, .searchArea {display:flex;align-items:center;}
*/
.bctai_container textarea{height:auto;line-height:2.15;padding:17px;resize:none;}
/*
input[type="submit"]{cursor:pointer}
*/
.bctai_container select {padding:0 35px 0 15px;background:#f5f5f5 url(../images/icon_arrow_select.png) no-repeat right 17px center;}
/*
select::-ms-expand{display:none;}
input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}
.bold {font-weight:600;}
sup {position:relative;top:3px;}
hr {margin:10px 0;} */

.checkArea {display:flex;flex-wrap:wrap;margin-top:21px;}
.check {position:relative;line-height:24px;}
.check input {position:absolute;top:-8px;left:2px;width:19px;height:19px;padding:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.check label {position:relative;line-height:1.43;padding-left:30px;white-space:nowrap;}

.check label:before {content:"";position:absolute;top:-9px;left:1px;width:19px;height:19px;border-radius:4px;background-color:#F1F1F1;}
.check input[type="checkbox"]:checked + label:before {background:#8040AD url(../images/icon_check.png) no-repeat center center;}
.check input[type="radio"] + label:before {border:1px solid #707070;border-radius:50%;}
.check input[type="radio"]:checked + label:after {content:"";position:absolute;top:6px;left:5px;width:9px;height:9px;border-radius:50%;background:#8040AD;}
.check.only {margin-right:19px;}
.check.only label {padding-left:19px;}

table{width:100%;border-collapse:collapse;empty-cells:show;table-layout:fixed;}
fieldset{margin:0;padding:0;border:0;}
legend, caption{overflow:hidden;visibility:hidden;width:0;height:0;line-height:0;font-size:0;}

label{cursor:pointer;}

::-webkit-input-placeholder{color:#352F39;}
::-moz-placeholder{color:#352F39;}
:-ms-input-placeholder{color:#352F39 !important;}

/* align */
.center{text-align:center !important;}
.right{text-align:right !important;}
.left{text-align:left !important;}

/* font */
.color01{color:#2e57a6 !important;}

/* etc */
section{position:relative;}
.block{display:block;}
.none{display:none;}
.blind{position:absolute;overflow:hidden;width:1px;height:1px;clip:rect(0 0 0 0);}
.uppercase {text-transform:uppercase;}


/* -------------------------------------
    layout
---------------------------------------- */
/* content */
.content{height:auto;}

.flex {display:flex;align-items:center;justify-content:space-between;}
.flex > * + * {margin-left:4px;}
.inlineFlex {display:inline-flex;align-items:center;}
.inlineFlex label {padding-right:19px;white-space:nowrap;font-size:16px;color:#636363;}
.alignItemsEnd {align-items:flex-end;}
.between {justify-content:space-between !important;}
.flex1 {flex:1;}
.flexStart {justify-content:flex-start !important;}
.flexCenter {justify-content:center !important;}

